body {
    padding-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    background-color: #dc143c;
}

#wrapper {
    margin: 0 auto;
    width: auto;
    max-width: 800px;
    background-color: #ffffff;
    box-shadow: 1px 1px 8px #a8a8a8;
}

.img img {
    width: 40%;
}

.canada img {
    width: 40%;
}

/*  SECTIONS  */
 .section {
     clear: both;
     padding: 0px;
     margin: 0px;
 }

 /*  COLUMN SETUP  */
 .col {
     display: block;
     float:left;
     margin: 1% 0 1% 1.6%;
 }
 .col:first-child { 
     margin-left: 0; 
 }

 /*  GROUPING  */
 .group:before,
 .group:after { 
     content:""; 
     display:table; 
 }
 .group:after { 
     clear:both;
 }
 .group { 
     zoom:1; /* For IE 6/7 */ 
 }

#footer {
    clear: both;
    text-align: center;
    padding: 10px;
}

@media only sceen and (max-width: 768px) {
    #right {
        float: left;
        width: 100%;
    }
    #left {
        float: left;
        width: 100%;
    }
}

/*  GRID OF TWO  */
 .span_2_of_2 {
     width: 100%;
 }
 .span_1_of_2 {
     width: 49.2%;
 }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
 .col { 
     margin: 1% 2% 1% 2%;
 }
}

@media only screen and (max-width: 480px) {
 .span_2_of_2, .span_1_of_2 { width: 100%; }
}